*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  background-color: #444;
}

*::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #888;
}

.o-start-button,
.o-achievement-button,
.o-mute-button {
  background-size: 85% !important;
  background-position: center;
  background-repeat: no-repeat;
}

.o-tutorial-button:nth-child(1) {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.o-slot-div:not(:active),
button:not(.locked, :active) {
  transition: 0.1s transform;
}

.o-popups {
  z-index: 1000;
  max-width: calc(100% - 50px);
  max-height: calc(100% - 50px);
}

.ben-modal {
  display: none;
}

.o-popups ~ div .ben-modal {
  display: block;
  position: fixed;
  inset: 0;
  width: 1000vw; /* ? */
  height: 1000vh;
  background-color: #4444;
  backdrop-filter: blur(15px);
}

@media screen and (max-width: 1000px) {
  .o-rewards-grid {
    grid-template-columns: repeat(2, 300px) !important;
  }
}

:focus {
  outline: 1px solid #0003;
}

.o-slot {
  border-radius: 5px;
  min-height: 24px !important;
  min-width: 24px !important;
  font-size: 16px !important;
}

.o-achievement-div img {
  mix-blend-mode: multiply;
}

.o-popups {
  animation: pop 0.15s forwards;
}

@keyframes pop {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.o-mute-button {
  background-image: url(sound.svg);
}
.o-mute-button.muted {
  background-image: url(nosound.svg);
}
